@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

.section {
  height: 100vh;
}

/* Override Bulma default margin for adjacent radio buttons */
.level-radios .radio {
  margin-left: 0;
  margin-top: 0.5em; /* Add vertical spacing if needed */
}

/* Optional: Add vertical spacing to all radio buttons */
.level-radios .radio {
  margin-bottom: 0.5em;
}

/* Override Bulma default margin for adjacent radio buttons */
.operators-checkboxes .checkbox {
  margin-left: 0;
  margin-top: 0.5em; /* Add vertical spacing if needed */
}

/* Optional: Add vertical spacing to all radio buttons */
.operators-checkboxes .checkbox {
  margin-bottom: 0.5em;
}
